@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@800&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    background: url(bg.jpg) no-repeat center center fixed;
    background-size: cover;
}
.container
{
    color: white;
    position: absolute;
    top: 25%;
    left: 40%;
}
.container h1{
    font-family: 'Heebo', sans-serif;
    font-size: 40px;
    border-bottom: 5px solid purple;
    display: inline-block; 
    margin-bottom: 15px;
    padding: 13px 0;
}
.box{
    width: 100%;
    border-bottom: 2px solid purple;
    margin: 22px 0;
}
.box input{
    background: none;
    width: 75%;
    font-size: 20px;
    padding: 5px 10px;
    border: none;
    outline: none;
    color: white;
}
.box i{
    width: 25px;
    text-align: center;
}
.btn{
    cursor: pointer;
    outline: none;
    margin: 12px 0;
    padding: 10px 21px;
    border: 2px solid purple;
    border-radius: 10px;
    font-size: 18px;
    background: none;
    color: white;
    font-weight: bold;
    font-family: 'Heebo', sans-serif;
}
.btn:hover{
    background: white;
    color: purple;
    opacity: 0.5;
}
